TWELVEDATA_API_KEY=1085c01c391143b2813ca828d2d15de4
FINNHUB_API_KEY=d33obi9r01qib1p1tjc0d33obi9r01qib1p1tjcg
ALPHAVANTAGE_API_KEY=G4HUPCCVWT908HY9

TELEGRAM_BOT_TOKEN=8213308223:AAHZ1DkbOqlfmK38swGrnfntTq0-MBemB1s
TELEGRAM_CHAT_ID=Ictgannbot

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
